* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: grid;
    /* justify-content: center; */
    justify-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: min(100vw, 800px);
    gap: 30px;
    margin: 30px;
}

.header {
    display: grid;
}

.survey {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.header {

}

.subtext {
    padding-bottom: 10px;
    border-bottom: solid 1px rgba(128, 128, 128, 0.25);
}

.answers {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 200px 200px;
    gap: 5px;
    padding: 70px;
    padding-bottom: 100px;
    border-bottom: solid 1px rgba(128, 128, 128, 0.25);
}

.prev-or-next {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

button {
    
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 12px 48px;
    border: 0;
    color: #fff;
    background: #ff5000;
    line-height: 1.15;
    font-size: 16px;
}

.selection.picked {
    transition: all .05s ease;
    background-color: #16c8b7;
    outline: solid 2px #1ea8b2;
}

.selection {
    display: grid;
    background-color: #16c8b7;
}